.services{
    background-image: var(--second-gradient);
}
.swiper-wrapper{
    margin-bottom: 52px;
}
.services__container{
    text-align: center;
}
.services__subtitle{
    color: var(--title-color);
    font-size: var(--tiny-font-size);
    font-weight: 700;
    margin-bottom: 65px;
    display: block;
}
.services__title{
    font-size: var(--h4-font-size);
    margin-bottom: 15px;
}
.services__description{
    height: 175px;
}
.swiper-pagination.swiper-pagination-bullets {
    width: auto;
    position: relative;
    display: inline-block;
}
.swiper-pagination.swiper-pagination-bullets::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(50%);
    background-color: var(--title-color);
    height: 2px;
    width: 100%;
}
.swiper-pagination-bullet{
    border: 2px solid var(--title-color);
    background-color: var(--container-color);
    z-index: 1;
    position: relative;
    opacity: 1;
    transition: all .3s var(--transition);
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child){
    margin-right: 20px;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active{
    background-color: var(--primary-color);
    width: 13px;
    height: 13px;
    top: 2px;
}